/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Nunito Sans", sans-serif;
    --secondary-font: "Noto Serif", Times New Roman;

    --primary-color: black; /* dark brown */
    --secondary-color: white; /* light brown */
    --third-color: #84c9dd; /* Teal/ Vibrant Blue */

    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

/* Global styles */

.navbar {
    background-color: black;   
    padding: 1rem; 
}


#navbarNav {
    color: black; 
    background-color: var(--secondary-color);

}


.navbar-toggler {
    background-color: white;
    color: white;
    border-radius: 0px;
}
    
    
h1,
h2,
h3,
p,
span,
div {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

#quote {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: var(--primary-font);
}

.sub-heading-color {
    color: var(--highlight-color);
}

footer {
    background-color: white;
    color: black;
}


div.container {
    text-align: center;
}

div.flex-container {
    container: center;
}

.buffetts-face {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

















/* COUNTDOWN timer*/

  
body {
    font-family: var(--primary-font);
    font-display: white;
    background-color: var(--primary-color);

    /* count down */
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background: black no-repeat center center / cover;
    color: white;
}
  






.countdown-container {
    display: flex;
    width: 100%;
    max-width: 70%;
    justify-content: space-between;

}
  
.days-container,
.hours-container,
.minutes-container, 
.seconds-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.1);
    border: 5px solid rgba(255,255,255,0.3);
    width: 140px;
    height: 140px;
    border-radius: 99px;
}
  
.days,
.hours,
.minutes,
.seconds {
    font-size: 2.5em; 
    margin: 10px 0;
}
  
  
.days-label,
.hours-label,
.minutes-label,
  seconds-label {
    text-transform: uppercase;
    margin-bottom: 5px;
}
  
@mdia (max-width: 800px) {
    .countdown-container {
      max-width: 50%;
    }
    
    .days-container,
    .hours-container,
    .minutes-container, 
    .seconds-container {
      font-size: 0.8em;
      width: 100px;
      height: 100px;
    }
}
  
  